
{% extends "base.html" %}

{% block content %}

    <h1>Shop</h1>

    <p>Novi proizvodi:</p>

    <div class="glavni">

    <div class="card">
        <img src="/static/img/proizvod-1.jpg" alt="Golden Goose" style="width: 100%">
        <h1>Golden Goose tenisice</h1>
        <p class="price">$460.00</p>
        <p>Golden Goose Sneakers Deluxe White Brand - White - Sneaker - Black Heel - Logo - Plow Pop: Rubber - Made in Italy</p>
        <p><button>Add to Cart</button></p>
      </div>

      <div class="card">
        <img src="/static/img/proizvod-2.jpg" alt="Golden Goose" style="width: 100%">
        <h1>Golden Goose tenisice</h1>
        <p class="price">$490.00</p>
        <p>Men's Sneaker Golden Goose White with blue heel, star and characteristic ruined effect</p>
        <p><button>Add to Cart</button></p>
      </div>

      <div class="card">
        <img src="/static/img/proizvod-3.jpg" alt="Golden Goose" style="width: 100%">
        <h1>Golden Goose tenisice</h1>
        <p class="price">$460.00</p>
        <p>Sneakers Super-Star Golden Goose White Woman</p>
        <p><button>Add to Cart</button></p>
      </div>

    </div>
    {% endblock content %}